{
  "openapi": "3.0.0",
  "info": {
    "title": "Image Server",
    "version": "1.0",
    "contact": {},
    "description": ""
  },
  "servers": [
    {
      "url": "https://imageserver.scalecommerce.cloud/api/v1",
      "variables": {}
    }
  ],
  "paths": {
    "/project/leave": {
      "post": {
        "tags": [
          "Project"
        ],
        "summary": "Leave Project",
        "operationId": "LeaveProject",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaveProjectRequest"
              },
              "example": {
                "uuid": "0f67e1a0-0260-4dcf-b667-c8226d12d9a4"
              }
            }
          },
          "required": true,
          "x-send-file-in-body": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/project/delete": {
      "post": {
        "tags": [
          "Project"
        ],
        "summary": "Delete Project",
        "operationId": "DeleteProject",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteProjectRequest"
              },
              "example": {
                "uuid": "0f67e1a0-0260-4dcf-b667-c8226d12d9a4"
              }
            }
          },
          "required": true,
          "x-send-file-in-body": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/project": {
      "post": {
        "tags": [
          "Project"
        ],
        "summary": "Create Project",
        "operationId": "CreateProject",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              },
              "example": {
                "name": "lazada.com.vn"
              },
              "examples": {}
            }
          },
          "required": true,
          "x-send-file-in-body": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Failed": {
                    "value": {
                      "error": 1,
                      "msg": "Access Denied."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "Add new project"
      }
    },
    "/project/0f67e1a0-0260-4dcf-b667-c8226d12d9a4/users": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "Project Members",
        "operationId": "ProjectMembers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/project/0f67e1a0-0260-4dcf-b667-c8226d12d9a4": {
      "post": {
        "tags": [
          "Project"
        ],
        "summary": "Project Detail",
        "operationId": "ProjectDetail",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/project/invite": {
      "post": {
        "tags": [
          "Project"
        ],
        "summary": "Invite User",
        "operationId": "InviteUser",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteUserRequest"
              },
              "example": {
                "uuid": "0f67e1a0-0260-4dcf-b667-c8226d12d9a4",
                "emails": [
                  "doducnhat1990@gmail.com",
                  "dd.nhat@gmail.com"
                ]
              }
            }
          },
          "required": true,
          "x-send-file-in-body": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/project/list": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "Project List",
        "operationId": "ProjectList",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "number"
                    },
                    "data": {
                      "type": [
                        "string",
                        "array"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "uuid": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "DateTime: Y-m-d H:i"
                          },
                          "owner": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "firstname": {
                                "type": "string"
                              },
                              "surname": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "confirmed": {
                                "type": "boolean"
                              },
                              "extras": {
                                "type": "object",
                                "properties": {
                                  "gravatar": {
                                    "type": "string",
                                    "description": "gravatar token"
                                  }
                                }
                              }
                            }
                          },
                          "extras": {
                            "type": "object",
                            "properties": {
                              "canDelete": {
                                "type": "boolean",
                                "description": "Current user can delete this project"
                              },
                              "isAdmin": {
                                "type": "boolean",
                                "description": "Current user is admin"
                              },
                              "status": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "returned": {
                          "type": "number",
                          "description": "Total item in current page"
                        },
                        "current_page": {
                          "type": "number",
                          "description": "Current page"
                        },
                        "limit": {
                          "type": "number",
                          "description": "Item per page"
                        },
                        "total": {
                          "type": "number",
                          "description": "Total results"
                        }
                      }
                    },
                    "error": {
                      "type": "number"
                    },
                    "msg": {
                      "type": "string",
                      "description": "Optional\nOnly shown if there is any error"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "user_id": 1,
                      "data": [
                        {
                          "uuid": "b927be68-65c8-4c49-bba7-bc736dfe0de8",
                          "name": "test.com",
                          "createdAt": "2020-02-04 11:06",
                          "owner": {
                            "id": 1,
                            "firstName": "Nhật",
                            "surname": "Đỗ",
                            "email": "nhat.do@nfq.asia",
                            "confirmed": true,
                            "extras": {
                              "gavatar": "3fd6d6d6f23e1f44af6a52192556018a"
                            }
                          },
                          "extras": {
                            "canDelete": true,
                            "isAdmin": true,
                            "status": 1
                          }
                        }
                      ],
                      "pagination": {
                        "returned": 1,
                        "current_page": null,
                        "limit": 10,
                        "total": 1
                      },
                      "error": 0
                    }
                  },
                  "Failed": {
                    "value": {
                      "error": 1,
                      "msg": "Access Denied."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "List all projects",
        "requestBody": {},
        "security": [
          {
            "API Token": []
          }
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Project"
    }
  ],
  "security": [
    {
      "auth-token": []
    }
  ],
  "components": {
    "schemas": {
      "InviteUserRequest": {
        "title": "InviteUserRequest",
        "required": [
          "uuid",
          "emails"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          }
        },
        "example": {
          "uuid": "0f67e1a0-0260-4dcf-b667-c8226d12d9a4",
          "emails": [
            "doducnhat1990@gmail.com",
            "dd.nhat@gmail.com"
          ]
        }
      },
      "CreateProjectRequest": {
        "title": "CreateProjectRequest",
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "example": {
          "name": "lazada.com.vn"
        },
        "x-examples": {}
      },
      "DeleteProjectRequest": {
        "title": "DeleteProjectRequest",
        "required": [
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          }
        },
        "example": {
          "uuid": "0f67e1a0-0260-4dcf-b667-c8226d12d9a4"
        }
      },
      "LeaveProjectRequest": {
        "title": "LeaveProjectRequest",
        "required": [
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          }
        },
        "example": {
          "uuid": "0f67e1a0-0260-4dcf-b667-c8226d12d9a4"
        }
      }
    },
    "securitySchemes": {
      "API Token": {
        "type": "apiKey",
        "description": "User Access Token",
        "name": "x-auth-token",
        "in": "header"
      }
    }
  }
}